<hr />
<form method="post" name="from" id="form1" action="post.php" enctype="multipart/form-data" onsubmit="return xu_check();" >

<input type="hidden" name="postaction" value="$postaction" />
<input type="hidden" value="2" name="step" />
<input type="hidden" value="$vid" name="vid" />
<input type="hidden" value="$pic" name="pic" />

<table class="table table_w960" id="tp">
<tr><th colspan="2">
	<img src="$imgpath/$stylepath/index/home.gif" align="absmiddle"> <a href="$db_bfn">$db_wwwname</a> &raquo; 发布视频
</th></tr>
<!--{if ($postaction=='new' || $postaction=='modify') && $step=='1'}-->
<!--{if $postgd}-->
<tr>
	<td>认证码<span style="color:red;">*</span></td>
	<td>
		<img src="ck.php" align="absmiddle" onclick="this.src='ck.php'" style="cursor: pointer;" />
		<input type="text" maxLength="4" class="text" name="gdcode" size="4" /> 如果看不清验证码，请点图片刷新
	
	</td>
</tr>
<!--{/if}-->
<!--<tr>
	<td class="w40">所属学校<span style="color:red;">*</span></td>
	<td>
		<select name="cid" >
			$class_opt
		</select>
	</td>
</tr>-->

<tr>
	<td>科目<span style="color:red;">*</span></td>
	<td>
		<select name="nid">
			$nation_opt
		</select>
	</td>
</tr>

<tr>
	<td>标题<span style="color:red;">*</span></td>
	<td><input type="text" name="subject" size="30" class="text" value="$subject" /></td>

</tr>

<tr>
	<td>所属年级</td>
<td>
		<select name="grade">
			$grade_opt
		</select>
	</td>
</tr>

<tr>
	<td>知识点标签[<a href="#" onclick="this.blur();alert('其他用户可以通过标签方便的找到这个节目');return false;"><strong>?</strong></a>]</td>
	<td>
	    <select name="newtag">
			$tag_opt
		</select>
<!--		标签1 <input name="tag[]" size="10" value="$tag[0]" maxlength="10" class="text" /> 
		标签2 <input name="tag[]" size="10" value="$tag[1]" maxlength="10" class="text" /> 
		标签3 <input name="tag[]" size="10" value="$tag[2]" maxlength="10" class="text" /> -->
	</td>
</tr>



<tr>
	<td>主讲老师</td>
	<td><input type="text" name="director" value="$director" class="text" /></td>
</tr>

<tr>
	<td>内容简介</td>
	<td><textarea name="atc_content" cols="60" rows="8">$content</textarea></td>
</tr>


<!--<tr>
	<td>海报 <br />允许上传格式: $db_picfiletype <br />允许上传大小: {$db_picmaxsize}KB</td>
	<td>
		<div id="preview_fake" style="width: 120px; height: 150px;"><img id="preview" src="$img" style="width: 120px; height: 150px;" /></div>
		
		<input name="image" type="file" size="30" class="text" onchange="onUploadImgChange(this)"/> 
		
	</td>
</tr>
-->

<!--{if $postaction=='new'}-->
<tr>

	<td>视频 </td>
	<td>
	<p>上传文件： <span style="DISPLAY: none">
						<object id="uploadid" classid="clsid:18B9E4BF-F21F-46B9-AD50-5CA62145426A" codebase="../../activex/xuploadfiles.cab">
							<param name="Action" value="xu_demo1.php"/>
							<param name="Bind" value="realpos"/>
						</object>
						</span>
						<script language="javascript" src="js/xuploadfiles.js"></script>
						<textarea name="realpos" rows="1" cols="50" wrap="off" readonly="readonly" id="realpos" style="OVERFLOW-X: hidden"></textarea>
						<input onclick="xu_selectfiles();" type="button" value="浏览..." /><input onclick="xu_reset();" type="reset" value="重置" />
					</p>

	</td>
</tr>
<!--{/if}-->

<!--{if $gp_allowsell=='1'}-->
<!--<tr>
	<td>出售视频</td>
	<td>会员支付 <input class="text" maxLength=6 size=6 value="$sale_value" name="sale_value">
	<select name="sale_type">
		$sale_opt
	</select>	
	才能播放视频
	</td>
</tr>-->
<!--{/if}-->

<!--{if $gp_allowencode=='1'}-->
<!--<tr>
	<td>加密视频</td>
	<td>会员拥有 <input class="text" maxLength=6 size=6 value="$need_value" name="need_value">
	<select name="need_type">
		$need_opt
	</select>		
	以上才能播放视频
	</td>
</tr>-->
<!--{/if}-->

<!--{loop $urls $server $value}-->
<!--<tr>
	<td>视频地址<span style="color:red;">*</span><br />
		每行输入一个视频地址<br />
		格式：<span style="color: green">视频地址</span>,<span style="color: red">标题</span><br />
		说明：视频地址与标题之间用","分开，标题部分为可选项，可省略。
	</td>
	<td>
		<select name="pid[]">$value[player]</select><br />
		<textarea name="urls[]" cols="80" rows="8" style="word-wrap: normal; overflow-x: auto; margin: 5px 0px;">$value[urlmsg]</textarea>
		<br />
		<input type="button" class="button" onclick="add();" value="添加" /> <input type="button" class="button" onclick="del(this);" value="删除" />
	</td>
</tr>-->
<!--{/loop}-->

</table><br />
<center><input type="submit" value="提 交" class="button" /></center><br />
</form>

<script language="JavaScript" type="text/javascript">

function onUploadImgChange(sender){   
    if(!sender.value.match(/.jpg|.gif|.png|.bmp/i)){   
        alert('图片格式无效');   
        return false;   
    }  
    var objPreview = document.getElementById('preview');   
    var objPreviewFake = document.getElementById('preview_fake');   
       
    if( sender.files && sender.files[0] ){   
        objPreview.style.display = 'block';   
        objPreview.src = sender.files[0].getAsDataURL();       
    }else if( objPreviewFake.filters ){    
        sender.select();   
        var imgSrc = document.selection.createRange().text;   
        objPreviewFake.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = imgSrc;   
	    objPreview.style.display = 'none';   
    }   
}  

function add()
{
	var caption = '视频地址<span style="color:red;">*</span><br />每行输入一个视频地址<br />格式：<span style="color: green">视频地址</span>,<span style="color: red">标题</span><br />说明：视频地址与标题之间用","分开，标题部分为可选项，可省略。';
	var html = '<select name="pid[]">$player</select><br /><textarea name="urls[]" cols="80" rows="8" style="word-wrap: normal; overflow-x: auto; margin: 5px 0px;"></textarea><br /><input type="button" class="button" onclick="add();" value="添加" /> <input type="button" class="button" onclick="del(this);" value="删除" />';
	var tr = fetch_object("tp").insertRow(-1);
	tr.insertCell(-1).innerHTML=caption;
	tr.insertCell(-1).innerHTML=html;  
}

function del(obj)
{
	var i=obj.parentNode.parentNode.rowIndex;
	fetch_object('tp').deleteRow(i);
}

function xu_check()
{
	var obj = xu_find();
	if (obj != null)
	{

		var str = form1.realpos.value;

		if (str.indexOf(":") > 0) // 检查是否已经上传过文件
		{
			//xu_subpath(form1.subpath.value);
			str = obj.uploadfile();
		}
		if (str != "") return true;
	}
	
	return false;
}
</script>
<!--{/if}-->