<!--<?php
include_once PrintEot('top');
if(!$action){
print <<<EOT
-->
<table width=98% border=0 align=center cellspacing=1 cellpadding=0 class=tableborder>
<tr><td class=header>新增区/学校</td></tr>
<tr><td class=bg style="padding: 20px; line-height: 1em; ">

说明：可以添加新区名称, 新学校<br /><br />
<!--
EOT;
if($role =='系统管理员'){print <<<EOT
-->
<form action="$basename" method="post"> 
<input type="hidden" name="action" value="add_board" />
学校所在区名称: <input type="text" name="name" size="30" />
<input type="submit" class="btn" value="提 交" />
</form>
<!--
EOT;
}print <<<EOT
-->
<br />
<!--
EOT;
if($role !='校级管理员'){ print <<<EOT
-->
<form action="$basename" method="post">
<input type="hidden" name="action" value="add_sub" />
学校所在区名称: <select name="newsubredion">{$region}</select> 
学校名称: <input type="text" name="caption" size="30" /> 
<input type="submit" class="btn" value="提 交" />
</form>
<!--
EOT;
}print <<<EOT
-->
</td></tr>


</table>
<br />
<form action="$basename" method="post">
<input type="hidden" name="action" value="update" />
<table width=98% border=0 align=center cellspacing=1 cellpadding=0 class=tableborder>
<tr><td class=header colspan=4>区/校管理</td></tr>
<tr align=center>
	<td width="5%">ID</td><td width="60%">标题</td><td width=20%>显示顺序</td><td width="15%">操作</td>
</tr>
<!--
EOT;
foreach($listdb as $value){
$edit = $value['cup']==0 ? 'edit_board' : 'edit_sub';
if($role == '校级管理员')break;
else if($role == '区级管理员'){
	if($value[caption] == $admin['region']&&$value['cup']==0)$flag = true;
    if($value[caption] != $admin['region']&&$value['cup']==0)$flag = false;
    if($flag){
print <<<EOT
-->
<tr>
<td align="center" class=bg>$value[cid]</td>
<td align="left" class=bg>$value[caption]</td>
<td align="center" class=bg><input name="selid[$value[cid]]" value="$value[vieworder]" size="8"></td>
<td align="center" class=bg>
	<a href="$basename&action={$edit}&cid=$value[cid]">编辑</a>
	<a href="$basename&action=delete&cid=$value[cid]">删除</a>
</td>
</tr>
<!--
EOT;
}}}print <<<EOT
-->
</table><br />
<center><input type="submit" class="btn" value="提 交" /></center></form>
<!--
EOT;
}elseif($action=='edit_board'){print <<<EOT
-->
<form action="$basename" method="post">
<input type="hidden" name="action" value="edit_board" />
<input type="hidden" name="step" value="2" />
<input type="hidden" name="cid" value="$cid" />
<table width=98% border=0 align=center cellspacing=1 cellpadding=0 class=tableborder>
<tr><td class=header colspan=2>编辑版块</td></tr>
<tr><td class=bg>显示顺序</td><td class=bg><input type="text" class="input" name="vieworder" value="{$class[$cid][vieworder]}" size="10" /></td></tr>
<tr><td class=bg>版块名称</td><td class="bg"><input type="text" class="input" name="caption" value="{$class[$cid][caption]}" size="60" /></td></tr>
</table>
<br />
<center><input type="submit" class="btn" value="提 交" /></center><br/>
</form>
<!--
EOT;
}elseif($action=='edit_sub'){print <<<EOT
-->
<form action="$basename" method="post">
<input type="hidden" name="action" value="edit_sub" />
<input type="hidden" name="step" value="2" />
<input type="hidden" name="cid" value="$cid" />
<table width=98% border=0 align=center cellspacing=1 cellpadding=0 class=tableborder>
<tr><td class=header colspan=2>编辑栏目</td></tr>
<tr><td width="40%" class=bg>上级栏目</td><td class=bg><select name="cup">{$class_opt}</select></td></tr>
<tr><td class=bg>显示顺序</td><td class=bg><input type="text" class="input" name="vieworder" value="{$class[$cid][vieworder]}" size="10" /></td></tr>
<tr><td class=bg>栏目名称</td><td class="bg"><input type="text" class="input" name="caption" value="{$class[$cid][caption]}" size="60" /></td></tr>
<tr>
	<td class=bg>
		栏目类别<br />
		开放版块: 游客与会员均可访问<br />
		正规版块: 只允许会员访问<br />
	</td>
	<td class=bg><select name=type><option value=free $classtype_free>开放版块</option> <option value=members $classtype_members>正规版块</option></select></td>
</tr>
<tr>
<td class=bg>影片排序关键字</td>
<td class=bg><SELECT name=orderway> <OPTION value=postdate $orderway_postdate>发布时间</OPTION> <OPTION value=hits $orderway_hits>人气</OPTION> <OPTION value=replies $orderway_replies>评论</OPTION></SELECT></td>
</tr>
<tr>
<td class=bg>影片排序方式</td>
<td class=bg><SELECT name=orderasc> <OPTION value=1 $orderasc_1>降序</OPTION> <OPTION value=0 $orderasc_0>升序</OPTION> </SELECT></td>
</tr>
<tr>
<td class=bg>审核设置</td>
<td class=bg><SELECT name=atccheck>
	<OPTION value=0 $atccheck_0>无</OPTION>
	<OPTION value=1 $atccheck_1>审核影片</OPTION>
	<OPTION value=2 $atccheck_2>审核评论</OPTION>
	<OPTION value=3 $atccheck_3>审核影片和评论</OPTION>
</SELECT></td>
</tr>
</table><br />

<table width=98% border=0 align=center cellspacing=1 cellpadding=0 class=tableborder>
<tr><td class=header colspan=2>栏目访问积分设置</td></tr>
<tr><td width=40% class=bg>至少需要威望</td><td class=bg><INPUT size=10 value={$class[$cid][rvrcneed]} name=rvrcneed></td></tr>
<tr><td class=bg>至少需要金钱</td><td class=bg><INPUT size=10 value={$class[$cid][moneyneed]} name=moneyneed></td></tr>
<tr><td class=bg>至少需要发布影片</td><td class=bg><INPUT size=10 value={$class[$cid][postneed]} name=postneed></td></tr>
</table><br />

<table width=98% border=0 align=center cellspacing=1 cellpadding=0 class=tableborder>
<tr><td class=header colspan=2>栏目权限设置 - 全不选则默认为开放栏目</td></tr>
<tr><td width=40% class=bg>栏目密码</td><td class=bg><input size=30 name=password value={$class[$cid][password]}> 不加密请清空!</td></tr>
<tr>
	<td class=bg>允许浏览栏目</td>
	<td class=bg>{$viewvisit}</td>
</tr>
<tr>
	<td class=bg>允许播放影片</td>
	<td class=bg>{$viewplay}</td>
</tr>
<tr>
	<td class=bg>允许发布影片</td>
	<td class=bg>{$viewpost}</td>
</tr>
<tr>
	<td class=bg>允许发表评论</td>
	<td class=bg>{$viewrp}</td>
</tr>
</table><br />

<center><input type="submit" class="btn" value="提 交" /></center><br/></form>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->