<!--<?php
include_once PrintEot('top');
print <<<EOT
-->

<table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" class="tableborder">
	<tr class="header">
		<th colspan="2">系统信息</th>
	</tr>
	<tr class="bg">
		<td width="50%" height="25">
			程序版本: <a href="$db_wwwurl" target="_blank" title="点击查询您目前使用的版本信息"><b>上海中小学视频点播网</b></a> <span style="color:#FF0000">v$version</span>
		</td>
		<td>
			服务器端信息: $sysos
		</td>
	</tr>
	<tr class="bg">
		<td height="25">
			PHP版本: $sysversion
		</td>
		<td>
			MySQL版本: $dbversion			
		</td>
	</tr>
	<tr class="bg">
		<td height="25">
			最大上传限制: $max_upload			
		</td>
		<td>
			最大执行时间: $max_ex_time
		</td>
	</tr>
	<tr class="bg">
		<td height="25">
			Cookie 测试: $ifcookie
		</td>
		<td>
			邮件支持模式: $sys_mail
		</td>
	</tr>
	<tr class="bg">
		<td height="25">
			本系统数据库占用: $pv_size M
		</td>
		<td>
			非本系统数据库占用: $o_size M
		</td>
	</tr>
	<tr class="bg">
		<td height="25">
			服务器所在时间: $systemtime
		</td>
		<td>
			系统显示时间: $altertime
		</td>
	</tr>	
</table>
<br />

<!--
EOT;
include_once PrintEot('adminbottom');
?>
-->
