<!--<?php
include_once PrintEot("css");
print <<<EOT
-->
</head>
<body>
<style type="text/css">
<!--
a{ text-decoration: none; color: #000f6 }
a:link,a:visited{color:#0044dd;	text-decoration: none;}
a:hover,a:active{color:#ff5500;	text-decoration: underline;}
body {background-color: #CED4E8;}
.i_table{border: 1px solid #739ACE;background:#DEE3EF;}
.b{background:#F7F7F7;}
-->
</style>
<br><br><br><br><br><br><br>
<form action="$REQUEST_URI" method="post">
<INPUT TYPE="hidden" name="Login_f" value=1>
<table width="50%" class="i_table" align=center cellspacing=1 cellpadding=0>
<!--
EOT;
if($msg){
print <<<EOT
-->
<tr>
	<td align="center" class="b"><br><br>$msg<br><br><br><center><a href="$basename">返 回 继 续 操 作</a></center><br><br></td>
</tr>
<!--
EOT;
}else{
print <<<EOT
-->
<tr>
	<td valign=middle align=center class=b>
		<br><br>
		<b>请输入您的管理员用户名和密码</b>
		<br><br>
		<table width=350 align=center cellspacing=0 cellpadding=0 class=i_table>
		<tr><td align="center" class="b">

			<table width=100% cellspacing=0 cellpadding=0 bgcolor='#ffffff'>
		
			<tr bgcolor='#ffffff'>
			<td valign=middle width=40% align=right>
				请输入管理员ID
			</td>
			<td valign=middle>
				<input type=text name="admin_name" style="width: 150px;">
			</td>
			</tr>
			
			<tr bgcolor='#ffffff'>
			<td valign=middle width=40% align=right>
				请输入管理员密码
			</td>
			<td valign=middle>
				<input type=password name="admin_pwd" style="width: 150px;">
			</td>
			</tr>

<!--
EOT;
if($admingd){print <<<EOT
-->
			<tr bgcolor='#ffffff'>
			<td valign=middle width=40% align=right>
				请输入右边的认证码
			</td>
			<td valign=middle>
				<input name="lg_num" type="text" maxlength="4" size="4"> <img src="ck.php?" align="absmiddle" onClick="this.src='ck.php?'">
			</td>
			</tr>
<!--
EOT;
}print <<<EOT
-->

			</table>

		</td></tr>
		</table>

		<br><input type=submit name="submit" value="提 交">
		<br><br>

		<strong>PHPvod</strong> $version</a><br><br>
	</td>
</tr>
<!--
EOT;
}
print <<<EOT
-->
</table>

</body></html>
<!--
EOT;
?>
-->