<!--<?php
include_once PrintEot('top');
if(empty($action)){
print <<<EOT
-->
<table width=98% border=0 align=center cellpadding=0 cellspacing=1 class=tableborder>
<tr><td class=header>提示信息</td></tr>
<tr><td class=bg style="padding: 20px; line-height: 2em; ">插件安装步骤：<br />1. 上传相应文件到指定插件目录(相对于hack目录)<br />2. 到添加插件处配置插件相关设置 </td></tr>
</table>
<br/>

<table class="tableborder" align="center" border="0" cellpadding="0" cellspacing="1" width="98%">
<tr><td class=bg>
[<strong>插件列表</strong>]
[<a href="$basename&action=add">添加/编辑插件</a>]
</td></tr></table>
<br />

<form method="post" action="$basename">
<input name=action type=hidden value="update">
<table width=98% border=0 align=center cellpadding=0 cellspacing=1 class=tableborder>
<tr><td class=header colspan="5">管理插件</td></tr>
<tr align="center">
  <td width="5%">启动</td>
  <td width="10%">ID</td>
  <td>插件名称</td>
  <td>插件目录</td>
  <td width="25%">操作</td>
</tr>
<!--
EOT;
foreach($hack as $key => $value){
$hidden = $value[hidden] ? 'checked' : '';
print <<<EOT
-->
<tr align="center">
  <td class=bg><input type='checkbox' name='applyid[]' value="$value[hid]" $hidden></td>
  <td class=bg>$value[hid]</td>
  <td class=bg>$value[name]</td>
  <td class=bg>$value[directory]</td>
  <td class=bg>
	<a href="$admin_file?adminjob=hack&hackset=$value[directory]">配置</a>
	<a href="$basename&action=edit&directory=$value[directory]">编辑</a>
	<a href="$basename&action=del&directory=$value[directory]">删除</a> 
	<a href="$basename&action=parse&directory=$value[directory]">更新缓存</a> 	
  </td>
</tr>
<!--
EOT;
}print <<<EOT
-->
</table>
<br><center><input type="submit" value="提 交"></center>
</form>
<!--
EOT;
}elseif($action=='add' || $action=='edit'){
print <<<EOT
-->
<table width=98% border=0 align=center cellpadding=0 cellspacing=1 class=tableborder>
<tr><td class=header>提示信息</td></tr>
<tr><td class=bg style="padding: 20px; line-height: 2em;">
说明（以勋章插件为例）：<br />
插件名称：勋章中心（前后台显示的插件名称）<br />
插件目录：medal（比如勋章插件的相关文件保存在hack/medal目录下）<br />
</td></tr>
</table>
<br/>

<table class="tableborder" align="center" border="0" cellpadding="0" cellspacing="1" width="98%">
<tr><td class=bg>
[<a href="$basename">插件列表</a>]
[<strong>添加/编辑插件</strong>]
</td></tr></table>
<br />

<form action="$basename" method=post>
<input type=hidden value=$directory name=hackdir>
<input type=hidden value=2 name=step>
<input type=hidden value="$action" name=action>

<table width=98% border=0 align=center cellpadding=0 cellspacing=1 class=tableborder>

<tr><td class=header colspan="2">新增/编辑插件</td></tr>

<tr><td class=bg width=40%>启动</td>
<td class=bg><input name="hidden" type="radio" value="1" $hidden_Y>启动 
<input name="hidden" type="radio" value="0" $hidden_N>不启动</td></tr>

<tr><td class=bg>插件名称</td>
<td class=bg><input type="text" name="name" value="{$hack[$directory][name]}" size=40></td></tr>

<tr><td class=bg>插件目录</td>
<td class=bg><input type="text" name="directory" value="{$hack[$directory][directory]}" size=40></td></tr>

</table>

<br /><center><input type="submit" value="提 交"></center>
</form>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>
-->