<?php include_once PrintEot("hack_css"); ?>
</head>
<body>
<table width="100%" align=center cellspacing=1 cellpadding=4 border=0>
	<tr align=center class=header>
		<td width='25%'><a href='http://www.phpvod.com' target='_blank'>关于PHPvod</a></td>
		<td width='25%'><a href='http://www.phpvod.com/bbs/thread.php?fid=2' target='_blank'>检查最新版本</a></td>
		<td width='25%'><a href='http://www.phpvod.com/bbs/thread.php?fid=7' target='_blank'>PV用户交流</a></td>
		<td width='25%'><a href='<?=$db_wwwurl?>' target='_blank'>我的首页</a></td>
	</tr>
</table><br>
